<form  action="/register" method="POST">
    <h2>Register</h2>
    <div class="on-dark">
        <label for="username">Username:</label>
        <input  type="text" placeholder="Steven" value="" name="username">
    </div>

    <div class="on-dark">
        <label for="email">Email address:</label>
        <input  type="email" placeholder="Steven@hotmail.com" value="" name="email">
    </div>

    <div class="on-dark">
        <label for="password">Password:</label>
        <input  type="password"  placeholder="********" value="" name="password">
    </div>

    <div class="on-dark">
        <label for="repeatPassword">Repeat Password:</label>
        <input  type="password" placeholder="********" value="" name="rePassword">
    </div>

    <div class="on-dark">
        <label for="fullName">Full Name:</label>
        <input  type="text" placeholder="Steven Doe" value="" name="fullName">
    </div>

    <div class="on-dark">
        <label for="bio">Bio:</label>
        <input  type="text" placeholder="Bio information" value="" name="bio">
    </div>

    <div class="on-dark">
        <label for="avatar">Avatar url:</label>
        <input  type="text" placeholder="https://..........jpg/png" value="" name="avatar">
    </div>

    <button class="btn" type="submit" >Register</button>
</form>