<div class="container">
        <nav>
            <a>Theater</a>
            <ul>
                <li><a href="/">Home </a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
        <section class="notifications error">
            <p>Message...</p>
        </section>
        <main>