<div class="container">
        <nav>
            <a>Theater</a>
            <ul>
                <li><a href="/">Home </a></li>
                {{#if isLoggedIn}}
                <li><a href="/create-play">Create play</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
        {{#if error}}
        <section class="notifications error">          
                <p>{{ message }}</p>         
        </section>
         {{/if}}
        <main>